// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
//@import "blueprint/scaffolding";
@import "compass/css3/box-shadow";
@import "compass/css3";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
@include blueprint;

$border-color: #cccccc;

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body {
  // @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  font-family: Helvetica, Arial;
}

form {
  @include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.
//  @include blueprint-scaffolding; 
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  background-color: #F2F2F2;
  #container {
    @include container; 
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid $border-color;
    @include border-radius(10px);
    @include box-shadow(#999999 2px 2px 0px);
  }
  #header, #footer {
    @include column($blueprint-grid-columns); 
  }
  #header {
    padding: 5px;
    border-bottom: 1px solid $border-color;
  }
  #footer {
    border-top: 1px solid $border-color;
    padding: 5px;
  }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: 4;
    @include column($sidebar-columns); 
  }
    
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: 20;
    // true means it's the last column in the row
    padding-bottom:0px;
    @include column($content-columns, true); 
    #content_wrap {
      min-height: 400px;
      border-left: 1px solid $border-color;
      padding: 10px;
    }
  } 
}

table {
  border: 1px solid $border-color;
  border-collapse: collapse;
  width: 100%;
  td,th {
    border: 1px solid $border-color;
  }
}

#flash_error{
  @include error;
  padding: 2px;
}
#flash_success{
  @include success;
  padding: 2px;
}



h1,h2,h3,h4 {
  line-hight: 1.1em;
  font-weight: bold;
  color: #333333;
  @include text-shadow(#cccccc 1px 1px 0); 
  h2 {
    font-size: 36px;
  }
  h1 {
    font-size: 40px;
  }
}















